.home-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1 {
    margin-bottom: 1em;
}

.home-header span {
    color: #f6982d;
}

.home-header p, .home-header form {
    margin-bottom: 1.2em;
}

.home-header input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    margin-right: 1em;
}

.home-header input[type="text"] {
    width: 60%;
}

.home-header input::placeholder {
    color: #fff
}

.order-cantainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-cantainer span {
    font-weight: bold;
    color: #fff;
}

.order-cantainer form {
    margin: 0;
}

.order-cantainer button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.order-cantainer button:hover,
.order-cantainer:hover a,
.order-cantainer i:hover {
    color: #f6982d;
}

order-cantainer button,
.order-cantainer a,
.order-cantainer i {
    margin: 0 7px;
}

.toughts-container figure {
    border-bottom: 1px solid #333;
    padding: .5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.toughts-container blockquote {
    font-style: italic;
    font-size: 2em;
    margin-bottom: .4em;
}

.toughts-container span {
    color: #f6982d;
}